/* Main */

* {
    margin: 0;
    padding: 0;
}

/* Header */

header {
    background-image: url(images/zola.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    background-attachment: fixed;
    width: 100%;
    display: flex;
}

h1 {
    font-size: 4rem;
    color: whitesmoke;
}

.main {
    height: 100vh;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* New Albums */

section {
    height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 400;
}

.new {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.new h1 {
    color: black;
    font-size: 2rem;
    text-align: center;
}

.new p {
    padding-top: 3%;
    text-align: center;
    font-size: 25px;   
}

.new p span {
    color: #ff7675;
}

.new h3 {
    color: #ff7675;
    text-align: center;
}

/* Change Background */

@media only screen and (max-width: 1024px) {

    header {
        background-image: url(images/zola-img-small.jpg)
    }

    h1 {
        font-size: 3rem;
    }

}

@media only screen and (max-height: 736px) {

    header {
        background-image: url(images/zola-img-small.jpg)
    }

    h1 {
        font-size: 3rem;
    }

}

/* New Album Header */

@media only screen and (max-width: 414px) {

    .new p {
        font-size: 15px;
    }

    .new h1 {
        font-size: 1rem;
    }

    .new h3 {
        font-size: 12px;
    }

}

@media only screen and (max-height: 736px) {

    .new p {
        font-size: 15px;
    }

    .new h1 {
        font-size: 1rem;
    }

    .new h3 {
        font-size: 12px;
    }

}